<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Erro 404</title>
	<div th:replace="~{head :: frag_head}"></div>

</head>

<body >
	<div th:replace="~{layoutBase :: frag_body}"></div>
	<header >
		<div th:insert:"~{header :: frag_header}"></div>

	</header>
	    <!-- Conteúdo da página -->
		<main>

		<div class="container">
			<h1>Página não encontrada</h1>
			<hr>
			<h3>Erro 404</h3>
            <h4 th:utext="${message}">message</h3th>
		</div>				
		</main>
		<div th:insert="~{footer :: frag_footer}"></div>
	
</body>

</html>
