<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PackNow</title>
	<div th:replace="~{head :: frag_head}"></div>

</head>

<body  >
	<div th:replace="~{layoutBase :: frag_body}"></div>
	<header >
		<div th:insert:"~{header :: frag_header}"></div>

	</header>
	    <!-- Conteúdo da página -->
		<main>
		<div class="container">
			<h1>Este é o h1 da home.</h1>
			<p>Este é o p1 da home.</p>
	
		</div>				
		</main>
		<div th:insert="~{footer :: frag_footer}"></div>
	
</body>

</html>
