<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar endereço</title>
    <div th:replace="~{head :: frag_head}"></div>
</head>

<body>
    <div th:replace="~{layoutBase :: frag_body}"></div>
    <header>
        <div th:insert="~{header :: frag_header}"></div>
    </header>
    <!-- Conteúdo da página -->
    <main>
        <div class="container">
            <h1> <i class="fa fa-building"></i>  Faça a edição das informações do endereço</h1>
            <hr>
            <form action="#" th:action="@{/endereco/update/{id}(id=${endereco.id})}" th:object="${endereco}" method="post">
                <div class="form-group">
                    <label for="bloco">Bloco:</label>
                    <input type="text" class="form-control" style="width: 350px;" th:field="*{bloco}" name="bloco" id="bloco">
                </div>
                <div class="form-group">
                    <label for="numero">Número:</label>
                    <input type="text" class="form-control" style="width: 350px;" th:value="*{numero}" name = "numero" id="numero">
                </div>
                <div style="padding-top: 10px;">
                    <input class="btn btn-primary" type="submit" value="Atualizar">
                    <a th:href="@{/endereco/listar}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
            <br>
            <h4 th:utext="${message}">message</h4>
        </div>
    </main>
    <div th:insert="~{footer :: frag_footer}"></div>
</body>

</html>
