<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Visualizar funcionários</title>
	<div th:replace="~{head :: frag_head}"></div>
			<!-- Adicionando o jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body >
	<div th:replace="~{layoutBase :: frag_body}"></div>
	<header >
		<div th:insert:"~{header :: frag_header}"></div>

	</header>
	    <!-- Conteúdo da página -->
<main>
 <div class="container">
		<div  class="row">
				<div>
				  	<h1> <i class="fa fa-id-badge" aria-hidden="true"></i> <b>Lista de funcionários</b></h1>
				</div>
  				<div class="col-md-4 offset-md-4">
				</div>		
		</div>
		<hr>
    <table id="moradoresTable" class="table table-striped">
			<!-- Barra de pesquisa -->
			<div  class="row">
			<div class="col-md-4"></div>
  				<div class="col-md-4 offset-md-4">
					<div class="d-flex align-items-center">
				        <i class="fas fa-search" style="font-size: 25px; margin-right: 8px; padding-bottom: 10px;"></i>
				        <input type="text" id="searchInput" class="form-control mb-3" style="width: 350px;" placeholder="Entre com um termo para pesquisar na lista...">
				    </div>
			</div>		
		</div>
      <thead class="thead-dark">
        <tr class="table-light">
          <th>Id</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Telefone</th>
          <th>Cargo</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <!-- tabela com os dados dos moradores -->
        <tr  class="table-light" th:each="funcionario: ${funcionario_lista}">
          <td th:text="${funcionario.id}"></td>
          <td th:text="${funcionario.nome}"></td>
          <td th:text="${funcionario.cpf}"></td>
          <td th:text="${funcionario.telefone}"></td>
          <td th:text="${funcionario.cargo}"></td>
          <td>
            <!-- Botões de editar e deletar -->
          <a style="margin-right: 5px;" th:href="@{/funcionario/edit/{id}(id=${funcionario.id})}" class="btn btn-primary">Editar</button>
		<a href="#" class="btn btn-danger deleteButton" th:href="@{/funcionario/delete/{id}(id=${funcionario.id})}">Deletar</a>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>							
		</main>
		<div th:insert="~{footer :: frag_footer}"></div>
	
</body>
	<!-- Adicionando o Bootstrap JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<script>
	  $(document).ready(function(){
	    // Adicionando funcionalidade de pesquisa
	    $('#searchInput').on('keyup', function(){
	      var searchText = $(this).val().toLowerCase();
	      $('#moradoresTable tbody tr').each(function(){
	        var rowData = $(this).text().toLowerCase();
	        if(rowData.indexOf(searchText) == -1){
	          $(this).hide();
	        } else {
	          $(this).show();
	        }
	      });
	    });
	  });
	</script>
		<script>
		    // Seleciona todos os elementos com a classe deleteButton
		    var deleteButtons = document.querySelectorAll('.deleteButton');
		
		    // Adiciona um evento de clique para cada botão de exclusão
		    deleteButtons.forEach(function(button) {
		        button.addEventListener("click", function(event) {
		            event.preventDefault(); // Evita que o link seja seguido imediatamente
		
		            // Mostra o pop-up de confirmação
		            var confirmDelete = confirm("Você tem certeza que quer deletar esse funcionário?");
		
		            // Se o usuário confirmar, segue com a deleção
		            if (confirmDelete) {
		                window.location.href = event.target.getAttribute("href");
		            }
		        });
		    });
		</script>


</html>
