<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registrar saída de encomenda</title>
    <div th:replace="~{head :: frag_head}"></div>
</head>

<body>
    <div th:replace="~{layoutBase :: frag_body}"></div>
    <header>
        <div th:insert="~{header :: frag_header}"></div>
    </header>
    <!-- Conteúdo da página -->
    <main>
        <div class="container">
            <h1> <i class="fa fa-archive "style="margin-right: 8px;"> </i> Entre com as informações de saída da encomenda</h1>
            <hr>
			<form th:action="@{/encomenda/registrarSaida/{id}(id=${encomenda.id})}" th:object="${encomenda}" method="post">

			<label for="funcionarioId"><h3>Selecione o Funcionário que liberou a encomenda</h3></label>
			<div class="dropdown">
			    <select class="btn btn-primary" style=" width: 300px;" id="funcionarioId" name="funcionarioId" data-toggle="dropdown">
			        <option value="" selected>Escolha o funcionário de saída</option>
			        <option th:each="funcionario : ${funcionarios}" th:value="${funcionario.id}" th:text="${funcionario.nome + ' - ' +funcionario.cargo }"></option>
			    </select>
			</div>
                <br>
                <label for="enderecoId"><h3>Selecione o morador que retirou a encomenda</h3></label>
				<div class="dropdown">
				    <select class="btn btn-primary" style=" width: 300px;" id="moradorId" name="moradorId" data-toggle="dropdown">
				        <option value="" selected>Escolha o morador</option>
				        <option th:each="morador : ${moradores}" th:value="${morador.id}" th:text="${'Nome ' + morador.nome+ ' - CPF ' + morador.cpf}"></option>
				    </select>
				</div>
		    <br>
			
            <div style="padding-top: 10px;">
	        <input  class="btn btn-success" type="submit" value="Registra saída">
            <a  th:href="@{/encomenda/listar}" class="btn btn-secondary">Voltar</a>
            </form>
   
        </div>
    </main>
    <div th:insert="~{footer :: frag_footer}"></div>
</body>

</html>
